.Success {
    position: absolute;
    bottom: 20%;
    left: 40%;
    user-select: none;
    min-width: 385px;
    top: 280px;
}

.Text {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
}

.Fantastic {
    display: block;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 13px;
    margin-bottom: 28px;
    margin-left: 25px;
    font-weight: bold;
    line-height: 1.45em;
}

.ImgContainer img {
    width: 83px;
    height: 83px;
    border: 1px solid #ccc;
    border-radius: 1.8rem;
    padding: 6px;
    box-shadow: 5px 10px 18px #888888;
    
  }

  .Button {
    position: static;
    margin-top: 30px;
    padding: 5px;
    background-color: forestgreen;
    border: 2px solid white;
    border-radius: 1.5em;
    color: white;
    width: 200px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
@media(max-width:745px) {
    .Success {
        min-width: 400px;
    }
}
@media(max-width:562px) {
    .Success {
        position: absolute;
        bottom: 20%;
        left: 0px;
        user-select: none;
    }
    
.Text {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
}

.Fantastic {
    display: block;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 13px;
    margin-bottom: 28px;
    margin-left: 0px;
    font-weight: bold;
    line-height: 1.45em;
}

.ImgContainer img {
    width: 83px;
    height: 83px;
    border: 1px solid #ccc;
    border-radius: 1.8rem;
    padding: 6px;
    box-shadow: 5px 10px 18px #888888;  
  }

  .Button {
    position: static;
    margin-top: 30px;
    padding: 5px;
    background-color: forestgreen;
    border: 2px solid white;
    border-radius: 1.5em;
    color: white;
    width: 200px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
} }



